html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.content-wrapper {
  padding-left: 6.5%;
  padding-right: 6.5%;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}
