.page-home {
  overflow: auto;
  background-image: url('/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  padding-bottom: 6rem;
}
